<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/hero.png" alt="Alvin" class="img-thumbnail rounded-circle shadow" width="200" />
      <h1 class="display-4">Alvin</h1>
      <p class="lead">Automotive Mechanic | Web Developer</p>
    </div>
  </div>
</div>
